<!DOCTYPE html>
<html lang="en">
<head>
  <title>Email Change Confirmation</title>
</head>
<body>
  <p><b>"tesztsor.hu" - Confirm Email Change.</b></p>
  <br/>
  <p>Welcome %s!</p>
  <br/>
  <p>Please click the link below to finalize the change of your email address used on <b>"tesztsor.hu":</b></p>
  <p><a href="%s">Confirm email change on "tesztsor.hu"...</a></p>
  <br/>
  <p>If you did not initiate this email change, please ignore this email!</p>
  <br/>
  <p>Best regards, the <b>"tesztsor.hu"</b> team.</p>
</body>
</html>
