<!DOCTYPE html>
<html lang="hu">
<head>
  <title>Email változtatás megerősítése</title>
</head>
<body>
  <p><b>"tesztsor.hu" - email változtatás megerősítése.</b></p>
  <br/>
  <p>Üdvözöljük %s!</p>
  <br/>
  <p>Kérjük kattintson az alábbi linkre, hogy véglegesítse a <b>"tesztsor.hu" oldalon használatos
    email címének</b> megváltoztatását:</p>
  <p><a href="%s">"tesztsor.hu" email cím változtatás megerősítése..."</a></p>
  <br/>
  <p>Ha nem Ön kezdeményezte az email változtatást, kérjük hagyja figyelmen kívül ezt az emailt!</p>
  <br/>
  <p>A <b>"tesztsor.hu"</b> csapata.</p>
</body>
</html>
