<!DOCTYPE html>
<html lang="hu">
<head>
  <title>Jelszó változtatás megerősítés</title>
</head>
<body>
  <p><b>"tesztsor.hu" - jelszó változtatás megerősítése.</b></p>
  <br/>
  <p><b>Üdvözöljük %s!</b></p>
  <br/>
  <p>Kérjük kattintson az alábbi linkre, hogy véglegesítse a <b>"tesztsor.hu" oldalra való
    belépéshez szükséges jelszó</b> megváltoztatását:</p>
  <p><a href="%s">"tesztsor.hu" jelszó változtatás megerősítése..."</a></p>
  <br/>
  <p>Ha nem Ön kezdeményezte a jelszó változtatást, kérjük hagyja figyelmen kívül ezt az emailt!</p>
  <br/>
  <p>A <b>"tesztsor.hu"</b> csapata.</p>
</body>
</html>
