<!DOCTYPE html>
<html lang="en">
<head>
  <title>Password Change Confirmation</title>
</head>
<body>
  <p><b>"tesztsor.hu" - Confirm Password Change.</b></p>
  <br/>
  <p><b>Welcome %s!</b></p>
  <br/>
  <p>Please click the link below to finalize the change of your password required for logging into <b>"tesztsor.hu":</b></p>
  <p><a href="%s">Confirm password change on "tesztsor.hu"...</a></p>
  <br/>
  <p>If you did not initiate this password change, please ignore this email!</p>
  <br/>
  <p>Best regards, the <b>"tesztsor.hu"</b> team.</p>
</body>
</html>
