<!DOCTYPE html>
<html lang="hu">
<head>
  <title>E-mail megerősítés a "tesztsor.hu" használatához</title>
</head>
<body>
  <p><b>A "tesztsor.hu" csapata üdvözli Önt: %s!</b></p>
  <br/>
  <p>Mentorai meghívták Önt, hogy csatlakozzon a <b>"tesztsor.hu"</b> alkalmazás használóihoz.</p>
  <p>A meghívást a <b>%s</b> projekttel kapcsolatban kapta.</p>
  <br/>
  <p>Kérjük, kattintson az alábbi linkre e-mail címének igazolásához és a <b>regisztrációja
    befejezéséhez</b>:</p>
  <p><a href="%s">Kattintson ide a regisztráció megerősítéséhez!</a></p>
  <br/>
  <p>Ha nem az Ön tudtával történt a regisztráció megindítása, vagy nem kíván csatlakozni, kérjük,
    hagyja figyelmen kívül ezt az e-mailt.</p>
  <br/>
  <p>A <b>"tesztsor.hu" csapata.</b></p>
</body>
</html>
